<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>logoImageName</key>
	<string>logo</string>
	<key>appGroupIdentifier</key>
	<string>org.sagebase.sampleApp</string>
	<key>permissionTypes</key>
	<array>
		<dict>
			<key>identifier</key>
			<string>healthKit</string>
			<key>healthKitTypes</key>
			<array>
				<dict>
					<key>profileKey</key>
					<string>gender</string>
					<key>identifier</key>
					<string>HKCharacteristicTypeIdentifierBiologicalSex</string>
				</dict>
				<dict>
					<key>profileKey</key>
					<string>birthdate</string>
					<key>identifier</key>
					<string>HKCharacteristicTypeIdentifierDateOfBirth</string>
				</dict>
				<dict>
					<key>identifier</key>
					<string>HKQuantityTypeIdentifierHeight</string>
					<key>profileKey</key>
					<string>height</string>
				</dict>
				<dict>
					<key>identifier</key>
					<string>HKQuantityTypeIdentifierBodyMass</string>
					<key>profileKey</key>
					<string>bodyMass</string>
				</dict>
				<string>HKQuantityTypeIdentifierStepCount</string>
			</array>
		</dict>
		<string>notifications</string>
		<string>coremotion</string>
		<string>microphone</string>
	</array>
</dict>
</plist>
